<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.career.views.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logauth</servlet-name>
        <servlet-class>com.career.controller.logauth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.career.views.Dashboard</servlet-class>AddEmployee
        </servlet>
    <servlet>
        <servlet-name>Departments</servlet-name>
        <servlet-class>com.career.views.Departments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartment</servlet-name>
        <servlet-class>com.career.views.AddDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>department</servlet-name>
        <servlet-class>com.career.controller.department</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDepartment</servlet-name>
        <servlet-class>com.career.views.EditDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAudit</servlet-name>
        <servlet-class>com.career.views.DisplayAudit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAuditReports</servlet-name>
        <servlet-class>com.career.controller.getAuditReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Workflows</servlet-name>
        <servlet-class>com.career.views.Workflows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addworklfow</servlet-name>
        <servlet-class>com.career.views.Addworklfow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>workflow</servlet-name>
        <servlet-class>com.career.controller.workflow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddApproval</servlet-name>
        <servlet-class>com.career.views.AddApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>com.career.views.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDepartmentEmp</servlet-name>
        <servlet-class>com.career.controller.getDepartmentEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployees</servlet-name>
        <servlet-class>com.career.views.AddEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employees</servlet-name>
        <servlet-class>com.career.controller.employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>com.career.views.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>com.career.controller.changepassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logauth</servlet-name>
        <url-pattern>/logauth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Departments</servlet-name>
        <url-pattern>/Departments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartment</servlet-name>
        <url-pattern>/AddDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>department</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDepartment</servlet-name>
        <url-pattern>/EditDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAudit</servlet-name>
        <url-pattern>/DisplayAudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAuditReports</servlet-name>
        <url-pattern>/getAuditReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Workflows</servlet-name>
        <url-pattern>/Workflows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addworklfow</servlet-name>
        <url-pattern>/Addworklfow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workflow</servlet-name>
        <url-pattern>/workflow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddApproval</servlet-name>
        <url-pattern>/AddApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDepartmentEmp</servlet-name>
        <url-pattern>/getDepartmentEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployees</servlet-name>
        <url-pattern>/AddEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employees</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
